{% load i18n %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block troubleshoot_suggestion %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Troubleshoot Suggestion" %}</h3>
        </div>
        <div class="panel-body">
            <p>
                {% blocktrans %}
                    The analysis has failed to complete.
                    We have the following suggestion to troubleshoot.
                {% endblocktrans %}
            </p>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">{{ troubleshoot.title }}</h4>
                <div class="list-group-item-text">
                    <p>
                    {{ troubleshoot.message }}
                    </p>
                    <ul>
                        {% for a in troubleshoot.suggested_actions %}
                            <li>{{ a }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock troubleshoot_suggestion %}
