{% load bootstrap_tags %}
{% load i18n avatar_tags %}
{% load staticfiles %}
<link href="{% static "geosafe/css/impact_summary.css" %}" rel="stylesheet"/>
<div class="modal fade" id="impact-card-modal" tabindex="-1" role="dialog" aria-labelledby="Impact">
    {% if analysis and report_type%}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
{#                    <span aria-hidden="true">&times;</span>#}
                    <i class="fa fa-times-circle-o"></i>
                </button>
                <h4 class="modal-title" id="impact_card_label">Analysis Result</h4>
            </div>
            <div class="modal-body">
                <p class="impact-questions">
                    In the event of {{ analysis.hazard_layer.title }}, how many {{ analysis.exposure_layer.title }} will be affected
                </p>
                {% include report_template %}
            </div>
            <div class="modal-footer">
                <div class="container col-xs-12">
                    <div class="row">
                        <div class="btn-group col-xs-3">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Download <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="map" %}')"
                                       role="button">Impact report</a></li>
                                <li>
                                    <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="table" %}')"
                                       role="button">Table report</a></li>
                                <li>
                                    <a href="{% url "geosafe:download-report" analysis_id=analysis.id data_type="reports" %}"
                                       role="button">Download report</a></li>
                            </ul>
                        </div>
                        <div class="save-analysis col-xs-3">
                            <input type="checkbox" name="save_analysis"
                                   id="save_analysis_{{ analysis.id }}"
                                    {% if analysis.keep %}
                                   checked
                                    {% endif %}
                                    {% if not user.username %}
                                   disabled
                                    {% endif %}
                                   data-id="{{ analysis.id }}">
                            Keep
                            <span class="processing-indicator">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    PROCESSING
                            </span>
                        </div>
                        <button type="button" class="btn btn-default col-xs-3" id="btnclose" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                    <div class="row col-xs-12">
                        <span class="analysis-saved"></span>
                        {% if not user.username %}
                            <p class="alert-danger">Log in to keep analysis</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{# Dialog for download layer links#}
<div class="modal fade" id="download-layer" tabindex="-1" role="dialog" aria-labelledby="Download Layer" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Download Layer" %}</h4>
            </div>
            <div class="modal-body">
                {% if links %}
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{ link.url }}" target="_blank">{% trans link.name %}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
