{% load bootstrap_tags %}
{% load staticfiles %}
<style>
    #impact-card-modal{
        color: #cacaca;
    }
    #impact-card-modal .modal-title{
        text-align: center;
    }
    #impact-card-modal .impact-icons{
        text-align: center;
        background: #3c3c3c;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
        padding: 10px;
    }
    #impact-card-modal .impact-icons img{
        height: 20px;
    }
    #impact-card-modal .modal-footer{
        text-align: center;
        border-top: 1px solid #606060;
    }
    #impact-card-modal .modal-header{
        border-bottom: 1px solid #606060;
    }
    #impact-card-modal .modal-content{
        background: #454545;
    }
    #impact-card-modal .btn{
        background: #6c6c6c;
        color: #eeeeee;
        border: none;
        height: 30px;
        padding-top: 5px;
    }
    #impact-card-modal .modal-header .btn{
        background: transparent;
    }

    .save-analysis{
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
    }
    .save-analysis .onoffswitch-label{
        margin-bottom: 0;
    }
    .save-analysis.processing .onoffswitch-inner,
    .save-analysis.processing .onoffswitch-switch{
        display: none;
    }
    .save-analysis.processing{
        width: 130px;
    }
    .save-analysis.processing .processing-indicator{
        display: inline-block;
        white-space: nowrap;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }
    .save-analysis .processing-indicator{
        display: none;
    }
    .save-analysis .onoffswitch-inner:before{
        content: "SAVE";
        padding: 0;
    }
    .save-analysis .onoffswitch-inner:after{
        content: "NOT";
        padding: 0;
        text-align: center;
    }
</style>
<div class="modal fade" id="impact-card-modal" tabindex="-1" role="dialog" aria-labelledby="Impact">
    {% if analysis %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
{#                    <span aria-hidden="true">&times;</span>#}
                    <i class="fa fa-times-circle-o"></i>
                </button>
                <h4 class="modal-title" id="impact_card_label">Analysis Result</h4>
            </div>
            <div class="modal-body">
                <p class="impact-icons">
                    {% with analysis.exposure_layer.metadata.category as c %}
                    <img src="{% static "geosafe/img/"|add:c|add:".svg" %}" alt="{{ c }}" class="svg"/>
                    {% endwith %}
                    {% with analysis.hazard_layer.metadata.category as c %}
                    <img src="{% static "geosafe/img/"|add:c|add:".svg" %}" alt="{{ c }}" class="svg"/>
                    {% endwith %}
                </p>
                <p class="impact-questions">
                    In the event of {{ analysis.hazard_layer.title }}, how many {{ analysis.exposure_layer.title }} will be affected
                </p>
            </div>
            <div class="modal-footer">
                <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="map" %}')" role="button" class="btn btn-default btn-xs">Show map report</a>
                <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="table" %}')" role="button" class="btn btn-default btn-xs">Show table report</a>
                <a href="{% url "geosafe:download-report" analysis_id=analysis.id data_type="reports" %}" role="button" class="btn btn-default btn-xs">Download report</a>
                <div class="onoffswitch save-analysis">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                           id="save_analysis_{{ analysis.id }}"
                           {% if analysis.keep %}checked{% endif %}
                           data-id="{{ analysis.id }}">
                    <label class="onoffswitch-label" for="save_analysis_{{ analysis.id }}">
                        <span class="processing-indicator">
                            <i class="fa fa-spinner fa-spin"></i>
                            PROCESSING
                        </span>
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $(".save-analysis input").change(function(){
            var id=$(this).attr('data-id');
            var urlpattern = '{% url "geosafe:toggle-analysis-saved" analysis_id=-1 %}';
            toggle_analysis_saved(urlpattern, id);
        });
    });
</script>
