{% load bootstrap_tags %}
{% load staticfiles %}
<link href="{% static "geosafe/css/impact_summary.css" %}" rel="stylesheet"/>
<div class="modal fade" id="impact-card-modal" tabindex="-1" role="dialog" aria-labelledby="Impact">
    {% if analysis and report_type%}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
{#                    <span aria-hidden="true">&times;</span>#}
                    <i class="fa fa-times-circle-o"></i>
                </button>
                <h4 class="modal-title" id="impact_card_label">Analysis Result</h4>
            </div>
            <div class="modal-body">
                <p class="impact-icons">
                    {% with analysis.exposure_layer.metadata.category as c %}
                    <img src="{% static "geosafe/img/"|add:c|add:".svg" %}" alt="{{ c }}" class="svg"/>
                    {% endwith %}
                    {% with analysis.hazard_layer.metadata.category as c %}
                    <img src="{% static "geosafe/img/"|add:c|add:".svg" %}" alt="{{ c }}" class="svg"/>
                    {% endwith %}
                </p>
                <p class="impact-questions">
                    In the event of {{ analysis.hazard_layer.title }}, how many {{ analysis.exposure_layer.title }} will be affected
                </p>
                {% include report_template %}
            </div>
            <div class="modal-footer">
                <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="map" %}')" role="button" class="btn btn-default btn-xs">Show map report</a>
                <a href="javascript:show_in_iframe('Impact Report', '{% url "geosafe:download-report" analysis_id=analysis.id data_type="table" %}')" role="button" class="btn btn-default btn-xs">Show table report</a>
                <a href="{% url "geosafe:download-report" analysis_id=analysis.id data_type="reports" %}" role="button" class="btn btn-default btn-xs">Download report</a>
                <div class="onoffswitch save-analysis">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                           id="save_analysis_{{ analysis.id }}"
                           {% if analysis.keep %}checked{% endif %}
                           data-id="{{ analysis.id }}">
                    <label class="onoffswitch-label" for="save_analysis_{{ analysis.id }}">
                        <span class="processing-indicator">
                            <i class="fa fa-spinner fa-spin"></i>
                            PROCESSING
                        </span>
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
