{% extends 'geonode_base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{% block extra_head %}
    {% leaflet_css %}
{% endblock extra_head %}
{% block body_outer %}
    <div class="page-header">
        <h2 class="page-title">{% trans "Analysis Details" %}</h2>
    </div>
    <div class="row">
        <div class="container-fluid pad0x">
            <div class="col-md-8" id="inner-body">
                <div id="map" style="width: 100%; height: 600px; position:relative;">
                </div>
            </div>
            <div class="col-md-4">
                <div>

                    {% if analysis.task_info and analysis.task_info.troubleshoot %}

                        {% with troubleshoot=analysis.task_info.troubleshoot %}

                            {% include troubleshoot.template %}

                        {% endwith %}

                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Analysis Parameter Summary" %}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{% trans "Summary of parameters that is being used to calculate the analysis" %}</p>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Exposure Layer"  %}</h4>
                                <a class="list-group-item-text" href="{% url 'layer_detail' analysis.exposure_layer.service_typename %}">
                                    {{ analysis.exposure_layer }}
                                </a>
                            </div>

                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Hazard Layer" %}</h4>
                                <a class="list-group-item-text" href="{% url 'layer_detail' analysis.hazard_layer.service_typename %}">
                                    {{ analysis.hazard_layer }}
                                </a>
                            </div>


                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Aggregation Layer" %}</h4>
                                {% if analysis.aggregation_layer %}
                                    <a class="list-group-item-text" href="{% url 'layer_detail' analysis.aggregation_layer.service_typename %}">
                                        {{ analysis.aggregation_layer }}
                                    </a>
                                {% else %}
                                    {% trans "Not Used" %}
                                {% endif %}
                            </div>

                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Extent Type" %}</h4>
                                <p class="list-group-item-text">{{ analysis.get_extent_option_display }}</p>
                            </div>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Extent" %}</h4>
                                <p class="list-group-item-text">{% trans "Left:" %} {{ analysis.user_extent_bbox.0.0 }}</p>
                                <p class="list-group-item-text">{% trans "Top:" %} {{ analysis.user_extent_bbox.0.1 }}</p>
                                <p class="list-group-item-text">{% trans "Right:" %} {{ analysis.user_extent_bbox.1.0 }}</p>
                                <p class="list-group-item-text">{% trans "Bottom:" %} {{ analysis.user_extent_bbox.1.1 }}</p>
                                <p class="list-group-item-text">{% trans "Area:" %} {{ analysis.user_extent_area|intcomma }} km<sup>2</sup></p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Impact Layer Analysis Tasks" %}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{% trans "Summary of Analysis progress" %}</p>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Task State" %}</h4>
                                <p class="list-group-item-text">
                                    {% if not analysis.get_task_result %}
                                        {% trans "Analysis not yet running" %}
                                    {% else %}
                                        <span class="label label-{{ analysis.get_label_class }}">
                                        {{ analysis.get_task_state }}
                                        </span>
                                    {% endif %}
                                </p>
                            </div>
                            {% if analysis.get_task_result and not analysis.get_task_result.state == "SUCCESS" %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Task State Diagnostics" %}</h4>
                                <div class="list-group-item-text">
                                    {% if analysis.get_task_state == 'PENDING' %}
                                        {% trans "Task is still running" %}
                                    {% elif analysis.task_info and analysis.task_info.finished %}
                                        <div class="well well-sm list-group-item-info">{{ analysis.task_info.result }}</div>
                                        {% if analysis.task_info.traceback %}
                                        <div class="well well-sm list-group-item-danger">{{ analysis.task_info.traceback|linebreaks }}</div>
                                        {% endif %}
                                    {% else %}
                                        {% trans "Failed to collect task diagnostics." %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Impact Layer" %}</h4>
                                <p class="list-group-item-text">
                                    {% if analysis.get_task_state == 'SUCCESS' %}
                                        <a href="{% url 'layer_detail' layername=analysis.impact_layer.alternate %}">{{ analysis.impact_layer }}</a>
                                    {% else %}
                                        {% trans "Impact layer not yet generated." %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Impact Report Tasks" %}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{% trans "Summary of Impact Report progress" %}</p>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Impact Map Report" %}</h4>
                                {% if analysis.report_map %}
                                <a class="list-group-item-text download-link" href="{% url 'geosafe:download-report' analysis_id=analysis.id data_type='map' %}" target="_blank">
                                    {% trans "Map Report" %}
                                </a>
                                {% else %}
                                <p class="list-group-item-text">
                                    {% trans "Not yet generated" %}
                                </p>
                                {% endif %}
                            </div>
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">{% trans "Impact Table Report" %}</h4>
                                {% if analysis.report_table %}
                                <a class="list-group-item-text download-link" href="{% url 'geosafe:download-report' analysis_id=analysis.id data_type='table' %}" target="_blank">
                                    {% trans "Table Report" %}
                                </a>
                                {% else %}
                                <p class="list-group-item-text">
                                    {% trans "Not yet generated" %}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Action" %}</h3>
                        </div>
                        <div class="panel-body">
                            {% if analysis.get_task_result %}
                            <form action="{% url 'geosafe:rerun-analysis' analysis_id=analysis.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="analysis_id" value="{{ analysis.id }}" />
                                <button type="submit" class="btn btn-primary">{% trans "Rerun Analysis" %}</button>
                            </form>
                            {% endif %}
                            {% if not analyis.get_task_state == 'SUCCESS' and user.is_superuser %}
                            <form action="{% url 'geosafe:cancel-analysis' analysis_id=analysis.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="analysis_id" value="{{ analysis.id }}" />
                                <button type="submit" class="btn btn-primary">{% trans "Cancel Analysis" %}</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_outer %}

{% block extra_script %}
    {% leaflet_js %}
    <script>
        (function () {
            // your page initialization code here
            // the DOM will be available here
            console.log("ready!");

            var map = L.map('map');

            function zoom_to_box(map, bbox) {
                var bounds = [
                    [bbox[1], bbox[0]],
                    [bbox[3], bbox[2]]
                ];
                map.fitBounds(bounds);
            }

            function add_layer(map, layer) {
                console.log(layer);
                tile_layer = L.tileLayer(layer['get_titles_url'],
                        {
                            'opacity': 0.8
                        });
                if (tile_layer != null) {
                    map.addLayer(tile_layer);
                }
            }

            var default_basemap = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}', {
                type: 'map',
                ext: 'jpg',
                attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: '1234'
            });

            map.addLayer(default_basemap);
            var exposure_layer = [];
            var hazard_layer = [];
            var aggregation_layer = [];
            var impact_layer = [];

            exposure_layer['get_titles_url'] = "{{ analysis.exposure_layer.get_tiles_url|safe }}";
            hazard_layer['get_titles_url'] = "{{ analysis.hazard_layer.get_tiles_url|safe }}";
            aggregation_layer['get_titles_url'] = "{{ analysis.aggregation_layer.get_tiles_url|safe }}";
            impact_layer['get_titles_url'] = "{{ analysis.impact_layer.get_tiles_url|safe }}";


            add_layer(map, exposure_layer);
            add_layer(map, hazard_layer);
            add_layer(map, aggregation_layer);
            add_layer(map, impact_layer);

            var bbox = [{{ analysis.user_extent }}];
            var bounds = [[bbox[1], bbox[0]], [bbox[3], bbox[2]]];
            var bound_rect = L.rectangle(bounds, {
                color: '#00ff78',
                weight: 5,
                fill: false
            });
            bound_rect.addTo(map);
            zoom_to_box(map, [{{ analysis.user_extent }}]);

            {% if analysis.get_task_result %}
                {% if not analysis.get_task_result.successful and not analysis.get_task_result.failed %}
                    {# Automatic reload in 30 sec #}
                    setTimeout(function(){
                        window.location.reload()
                    }, 30000);
                {% endif %}
            {% endif %}
        })();

    </script>
{% endblock extra_script %}
