{% load i18n %}
<div class="legend">
    <div id="legend-title">
        <a href="#" style="font-style: oblique; text-align: center;"><p>{% trans "Legend" %}</p></a>
    </div>
    <div id="legend-body">
        <div id="legend-hazard-body">
            <p>{% trans "Hazard:" %} <span id="legend-hazard-name"></span></p>
            <p><input class="transparency-slider" type="text" value="5" id="hazard-slider" data-slider-min="1"
                      data-slider-max="10"
                      data-slider-step="1" onchange="set_transparency();"></p>
            <p><img id="hazard-legend-img"/></p>
        </div>
        <div id="legend-exposure-body">
            <p>{% trans "Exposure:"%} <span id="legend-exposure-name"></span></p>
            <p><input class="transparency-slider" type="text" value="5" id="exposure-slider" data-slider-min="1"
                      data-slider-max="10"
                      data-slider-step="1" onchange="set_transparency();"></p>
            <p><img id="exposure-legend-img"/></p>
        </div>
        <div id="legend-aggregation-body">
            <p>{% trans "Aggregation:" %} <span id="legend-aggregation-name"></span></p>
            <p><input class="transparency-slider" type="text" value="5" id="aggregation-slider" data-slider-min="1"
                      data-slider-max="10"
                      data-slider-step="1" onchange="set_transparency();"></p>
            <p><img id="aggregation-legend-img"/></p>
        </div>
        <div id="legend-impact-body">
            <p>{% trans "Impact:" %} <span id="legend-impact-name"></span></p>
            <p><input class="transparency-slider" type="text" value="5" id="impact-slider" data-slider-min="1"
                      data-slider-max="10"
                      data-slider-step="1" onchange="set_transparency();"></p>
            <p><img id="impact-legend-img"/></p>
        </div>
    </div>
</div>
