{% extends 'site_base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'geosafe/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'geosafe/css/jquery.dynatable.css' %}" />
{% endblock %}
{% block body %}
    <style>
        .btn .fa-check{
            display: none;
        }
        .btn.active .fa-check{
            display: inline-block;
            color: #50cf5c;
        }
        .btn .fa-close{
            display: inline-block;
            color: #f15a2b;
        }
        .btn.active .fa-close{
            display: none;
        }
        .btn.processing .fa-close{
            display: none;
        }
        .btn .fa-spinner{
            display: none;
        }
        .btn.processing .fa-spinner{
            display: inline-block;
        }

        .save-analysis.processing .onoffswitch-inner,
        .save-analysis.processing .onoffswitch-switch{
            display: none;
        }
        .save-analysis.processing{
            width: auto;
        }
        .save-analysis.processing .processing-indicator{
            display: inline-block;
            white-space: nowrap;
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
        }
        .save-analysis .processing-indicator{
            display: none;
        }

        #user-filter-group{
            margin-right: 10px;
        }
    </style>
    <h1>List of Analysis</h1>
    <div>
        {% if analysis_list %}
            <div id="user-filter-group" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="user-filter" checked value="all">
                    All
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="user-filter" value="user">
                    {% if not user.username %}
                        Anonymous
                    {% else %}
                        Current users
                    {% endif %}
                </label>
            </div>
            <table id="analysis-list" class="table table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date Created</th>
{#                    <th>Exposure</th>#}
{#                    <th>Hazard</th>#}
{#                    <th>Aggregation</th>#}
{#                    <th>Extent</th>#}
                    <th>Impact Function Name</th>
                    <th>Impact Layer</th>
                    <th>View</th>
                    {% if user.username %}
                        <th>Save</th>
                    {% endif %}
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                {% for analysis in analysis_list %}
                    <tr>
                        <td>
                            <a href="{{ analysis.user.get_absolute_url }}">{{ analysis.user.username }}</a>
                        </td>
                        <td>
                            {% if analysis.impact_layer %}
                                {{ analysis.impact_layer.date }}
                            {% else %}
                                Impact layer not yet created
                            {% endif %}
                        </td>
{#                        <td>#}
{#                            <a href="{% url 'layer_detail' layername=analysis.exposure_layer.typename %}">{{ analysis.exposure_layer }}</a>#}
{#                        </td>#}
{#                        <td>#}
{#                            <a href="{% url 'layer_detail' layername=analysis.hazard_layer.typename %}">{{ analysis.hazard_layer }}</a>#}
{#                        </td>#}
{#                        <td>#}
{#                            <a href="{% url 'layer_detail' layername=analysis.aggregation_layer.typename %}">{{ analysis.aggregation_layer }}</a>#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ analysis.get_extent_option_display }}#}
{#                        </td>#}
                        <td>
                            {{ analysis.impact_function_name }}
                        </td>
                        <td>
                            {% if not analysis.get_task_result %}
                                Analysis not yet running
                            {% elif analysis.get_task_result.successful %}
                                <a href="{% url 'layer_detail' layername=analysis.impact_layer.typename %}">{{ analysis.impact_layer }}</a>
                            {% else %}
                                Task Status: <span class="label label-{{ analysis.get_label_class }}">{{ analysis.get_task_result.state }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if analysis.report_map %}
                                <a href="{% url 'geosafe:download-report' analysis_id=analysis.id data_type='map' %}">Map Report</a>
                            {% endif %}
                            {% if analysis.report_table %}
                                <a href="{% url 'geosafe:download-report' analysis_id=analysis.id data_type='table' %}">Table Report</a>
                            {% endif %}
                        </td>
                        {% if user.username %}
                        <td>
                            <div class="onoffswitch save-analysis">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="save_analysis_{{ analysis.id }}"
                                       {% if analysis.keep %}checked{% endif %}
                                       data-id="{{ analysis.id }}">
                                <label class="onoffswitch-label" for="save_analysis_{{ analysis.id }}">
                                    <span class="processing-indicator">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        PROCESSING
                                    </span>
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </td>
                        {% endif %}
                        <td>
                            {% if analysis.impact_layer %}
                                <a href="{% url 'geosafe:download-report' analysis_id=analysis.id data_type='all' %}">Download</a>
                            {% else %}
                                Impact layer not yet created
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No analysis yet. <a href="{% url "geosafe:analysis-create" %}">Why not creating one?</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static 'geosafe/js/jquery.dynatable.js' %}">
</script>
<script type="text/javascript">
function toggle_analysis_saved(id){
    var url = '{% url "geosafe:toggle-analysis-saved" analysis_id=-1 %}';
    url = url.replace("-1", id);
    var $checkbox = $("tr .save-analysis input[data-id='"+id+"']");
    $checkbox.parent().addClass("processing");
    $checkbox.prop("disabled", true);
    $.post(url, function(data){
        if(data && data.success){
            $checkbox.parent().removeClass("processing");
            $checkbox.prop("checked", data.is_saved);
            $checkbox.prop("disabled", false);
        }
    });
}

$(document).ready(function(){

    var analysis_list_dynatable = $("#analysis-list")
            .bind('dynatable:init', function (e, dynatable) {
                dynatable.queries.functions['user'] = function(record, queryValue){
                    return $(record['user']).text() == queryValue;
                }
            }).dynatable().data('dynatable');

    $(".save-analysis input").change(function(){
        var id=$(this).attr('data-id');
        console.log(this);
        toggle_analysis_saved(id);
    });

    $("#user-filter-group label").on('click', function () {
        console.log(this);
        if($(this).find('input').val()=='all'){
            analysis_list_dynatable.queries.remove('user');
        }
        else{
            {% if user.username %}
                analysis_list_dynatable.queries.add('user', '{{ user.username }}');
            {% else %}
                analysis_list_dynatable.queries.add('user', 'AnonymousUser');
            {% endif %}
        }
        analysis_list_dynatable.process();
    });
});
</script>
{% endblock %}
