{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - GeoSAFE {% endblock %}
{% block body_class %}home{% endblock %}

{% block middle %}
  {% block hero %}
  <div class="jumbotron">
  	<div class="container">
        <table class="tryit">
            <tr>
                <td width="80%">
                    <h1>{% trans "GeoSAFE" %}</h1>
                </td>
                <td width="20%">
                    <div title="Try It Out!">
                        <a class="btn btn-default" href="{% url "geosafe:analysis-create" %}">
                            Try It Out!
                        </a>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin: 25px 0px;">
            <tr>
                <td>
                    <div id='mySwipe' style='max-width:640px;max-height: 480px;margin:0 auto' class="swipe">
                        <div class='swipe-wrap'>
                            <div><img src="{% static 'geosafe/img/geosafe-menu.png' %}"/></div>
                            <div><img src="{% static 'geosafe/img/geosafe-impact-visualisation.png' %}"/></div>
                            <div><img src="{% static 'geosafe/img/analysis-result.png' %}"/></div>
                        </div>
                    </div>
                </td>
                <td>
                    <p style="margin: 5px 50px; font-size: 18px;">GeoSAFE is a web platform that provides the ability to run InaSAFE analyses online.<br/>
                        InaSAFE is free software that produces realistic natural hazard impact scenarios for better planning, preparedness and response activities.<br/>
                        It provides a simple but rigorous way to combine data from scientists, local governments and communities to provide insights into the likely impacts of future disaster events.<br/>
                        You can find out more about the InaSAFE project at <a href="http://inasafe.org">http://inasafe.org</a><br/>
                        This app visually analyzes an impact on a map in the event of disaster.<br/>
                        Analysis reports can also be generated and saved for future reference.
                    </p>
                </td>
            </tr>
        </table>
        <p style="text-align: center">
            <a href="#what-anchor" role="button" title="What can GeoSAFE do?">{% blocktrans %}<i class="fa fa-arrow-down fa-3x icon-white"></i>{% endblocktrans %}</a>
        </p>
        <p style="font-size: small; text-align: center; margin-top: 10px">
            To contribute to the GeoSAFE project or to report any issues,
          head over to the <a href="https://github.com/kartoza/geosafe"
                              target="_blank">GeoSAFE</a> repository.
        </p>
  	</div>
  </div>
  {% include "_status_message.html" %}
  {% include "_announcements.html" %}
  {% include "_messages.html" %}
  <a class="anchor" id="what-anchor"></a>
  <section id="what-section" class="safe-section">
    <div class="container">
      <div class="row">
        <h1>What can GeoSAFE do?</h1>

          <div class="row">
              <table style="margin: 25px 0px;">
                  <tr>
                      <td>
                          <div id='mySwipeWhat' style='max-width:640px;max-height: 480px;margin:0 auto' class="swipe-what">
                              <div class='swipe-what-wrap'>
                                  <div><img src="{% static 'geosafe/img/geosafe-menu.png' %}"/></div>
                                  <div><img src="{% static 'geosafe/img/analysis-list.png' %}"/></div>
                                  <div><img src="{% static 'geosafe/img/analysis-result.png' %}"/></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <ul style="margin: 5px 50px;">
                              <li>
                                  <b>Perform Analysis</b>
                                  <p>
                                      Perform an InaSAFE analysis using hazard and exposure data hosted on GeoNode.
                                      Visualize the InaSAFE analysis results as a map and infographic, and as downloadable PDF reports.
                                  </p>
                              </li>
                              <li>
                                  <b>Analysis List</b>
                                  <p>
                                      Browse previously run InaSAFE analysis results and visualize the map and report products for each analysis.
                                  </p>
                              </li>
                              <li>
                                  <b>Metasearch</b>
                                  <p>
                                      Search for datasets in other online geospatial data stores that publish their catalogues using the CSW standard.
                                  </p>
                              </li>
                          </ul>
                      </td>
                  </tr>
              </table>
        </div>
          <p style="text-align: center">
              <a href="#how-anchor" role="button" title="How to run an analysis?">{% blocktrans %}<i class="fa fa-arrow-down icon-blue fa-5x"></i>{% endblocktrans %}</a>
          </p>
      </div>
    </div>
  </section>


  <a class="anchor" id="how-anchor"></a>
  <section id="how-section" class="safe-section">
    <div class="container">
      <div class="row">
        <h1>How to run an Analysis?</h1>
          <div class="row">
              <table style="margin: 25px 0px;">
                  <tr>
                      <td>
                          <div id='mySwipeHow' style='max-width:640px;max-height: 480px;margin:0 auto' class="swipe-how">
                              <div class='swipe-how-wrap'>
                                  <div><img src="{% static 'geosafe/img/select-hazard.png' %}"/></div>
                                  <div><img src="{% static 'geosafe/img/select-exposure.png' %}"/></div>
                                  <div><img src="{% static 'geosafe/img/select-impact-layer.png' %}"/></div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <ul style="margin: 5px 50px;">
                              <li>
                                  Select an exposure layer (e.g. road, structure, population)
                              </li>
                              <li>
                                  Select a hazard layer (e.g. flood, tsunami, earthquake, volcano, and volcanic ash)
                              </li>
                              <li>
                                  Select an impact function
                              </li>
                          </ul>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="extra-note">
                              That's it. Ready to go...
                          </div>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
    </div>
  </section>

  {% endblock %}

  {% block mainbody %}
  <div class="big-search">
  	<div class="container">
  		<h1>{% trans "Search for Data." %}</h1>
  		<div class="search">
  			<form id="search" action="{% url "search" %}" >
  				<span class="fa fa-search fa-2x"></span>
  				{% if HAYSTACK_SEARCH %}
  				<input id="search_input" type="text" placeholder="Search" class="form-control" name="q">
  				{% else %}
  				<input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
  				{% endif %}
  			</form>
  		</div>
  		<p><a class="btn btn-default btn-lg" href="/search/">Advanced Search</a></p>
  	</div>
  </div>

  {% block datasets %}
  {% endblock %}

  {% block showcase %}
  {% endblock %}

  {% endblock %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript" src="{% static 'geosafe/js/swipe.js' %}"></script>
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
    var scrollTimer = 10000;
    var elem = document.getElementById('mySwipe');
    window.mySwipe = Swipe(elem, {
        auto: scrollTimer,
        continuous: true
    });
    var elemWhat = document.getElementById('mySwipeWhat');
    window.mySwipeWhat = Swipe(elemWhat, {
        auto: scrollTimer,
        continuous: true
    });
    var elemHow = document.getElementById('mySwipeHow');
    window.mySwipeHow = Swipe(elemHow, {
        auto: scrollTimer,
        continuous: true
    });

</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>

<style>
    .swipe, .swipe-what, .swipe-how {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }

    #mySwipe div, mySwipeWhat div, mySwipeHow div {
        display: block;
    }

    .swipe-wrap > div, .swipe-what-wrap > div, .swipe-how-wrap > div {
        float:left;
        overflow: hidden;
        position: relative;
    }

    #what-section {
        background-color: #eee;
    }

    img {
        width: 640px;
        height: 320px;
    }

    #how-section {
        background-color: #2c689c;
        color: #fff;
    }

    .extra-note {
        padding-left: 15px;
        margin-top: 20px;
        font-size: 18px;
    }

    #how-section li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .safe-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .safe-section, .btn-default {
        min-width: 320px;
        border: 2px solid #2c689c;
    }

    .safe-section h1 {
        font-size: 45px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .safe-section ul {
        font-size: 20px;
        padding-top: 15px;
    }

    .safe-section p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .big-search {
        background: #474747 !important;
    }

    a.anchor {
        display: block;
        position: relative;
        top: -75px;
        visibility: hidden;
    }

    .fa-arrow-down.icon-white, .fa-flask.icon-white {
        color: white;
    }

    .fa-arrow-down.icon-white:hover, .fa-flask.icon-white:hover {
        color: #2d6987;
    }

    .fa-arrow-down.icon-blue {
        color: #2c689c;
    }

    .fa-arrow-down.icon-blue:hover {
        color: #6d6c6c;
    }

    table.tryit {
        width: 100%;
    }
</style>
{% endblock extra_script %}
